
logs/

mods/

debug/

.physics_mod_cache/

backups/

crash-reports/

playerSnapshots/

XaeroWaypoints/

XaeroWorldMap/

minecraftinstance.json

options.txt

reauth.toml

saves/

config/the_vault_pre_modjumble/

config/ftbquests/quests - Feb 23 backup/

config/ftbquests/quests/chapters2/

vaultmaps/

fancymenu_data/

config/ItemLocks/

config/modernstartupqol/

config/voicechat/

config/jei/world/

config/the_vault_old/

building_server_changelog.txt

ESM/

immersive_paintings_cache/

hs_err_pid13144.log

hs_err_pid15220.log

screenshots/

world/

xaero/

merge_comparison.WinMerge

otyacraftengine/

XaeroWaypoints_BACKUP032021/

registry.dump

replay_pid13144.log

rhino.local.properties

servers.dat

servers.dat_old

terrablender_remap.txt

testexport

testexport.json

toyshop_test.json

usercache.json

usernamecache.json

vault_crafting_materials.txt

vault_soundOptions.txt

vaultOptions.json

WailaErrorOutput.txt

hs_err_pid8596.log

replay_pid8596.log

everbook/
