
logs/

mods/

debug/

.physics_mod_cache/

backups/

crash-reports/

playerSnapshots/

XaeroWaypoints/

XaeroWorldMap/

minecraftinstance.json

options.txt

reauth.toml

saves/

config/the_vault_pre_modjumble/

config/ftbquests/quests - Feb 23 backup/

config/ftbquests/quests/chapters2/

vaultmaps/

fancymenu_data/

config/ItemLocks/

config/modernstartupqol/

config/voicechat/

config/jei/world/

config/the_vault_old/

building_server_changelog.txt

ESM/

immersive_paintings_cache/

hs_err_pid13144.log

hs_err_pid15220.log

screenshots/

world/

xaero/

merge_comparison.WinMerge

otyacraftengine/

XaeroWaypoints_BACKUP032021/
