
logs/

mods/

debug/

.physics_mod_cache/

backups/

crash-reports/

playerSnapshots/

XaeroWaypoints/

XaeroWorldMap/

minecraftinstance.json

options.txt

reauth.toml

saves/

config/the_vault_pre_modjumble/

config/ftbquests/quests - Feb 23 backup/

config/ftbquests/quests/chapters2/

vaultmaps/

fancymenu_data/

config/ItemLocks/

config/modernstartupqol/

config/voicechat/

config/jei/world/

config/the_vault_old/

building_server_changelog.txt

ESM/

immersive_paintings_cache/

hs_err_pid13144.log

hs_err_pid15220.log

screenshots/

world/

xaero/

merge_comparison.WinMerge

otyacraftengine/

XaeroWaypoints_BACKUP032021/

registry.dump

replay_pid13144.log

rhino.local.properties

servers.dat

servers.dat_old

terrablender_remap.txt

testexport

testexport.json

toyshop_test.json

usercache.json

usernamecache.json

vault_crafting_materials.txt

vault_soundOptions.txt

vaultOptions.json

WailaErrorOutput.txt

hs_err_pid8596.log

replay_pid8596.log

everbook/

hs_err_pid12248.log

hs_err_pid16532.log

hs_err_pid24148.log

hs_err_pid32852.log

hs_err_pid33204.log

hs_err_pid35196.log

hs_err_pid41788.log

hs_err_pid47732.log

hs_err_pid8876.log

hs_err_pid33696.log

hs_err_pid39544.log

hs_err_pid47492.log

hs_err_pid49020.log

replay_pid12248.log

replay_pid32852.log

replay_pid39544.log

replay_pid47732.log

replay_pid8876.log

XaeroWaypoints_BACKUP240807/

replay_pid35196.log

replay_pid49020.log

replay_pid47492.log

replay_pid16532.log

.mixin.out/

config/watermedia/

config/tellme/

config/essential-mod-partner/

config/jade/

config/jecalculation/record.json

config/jei/ingredient-list-mod-sort-order.ini

config/jei/recipe-category-sort-order.ini

immersive_paintings/

lightspeed-cache/

modernfix/

hs_err_pid12608.log

hs_err_pid24388.log

hs_err_pid44168.log

hs_err_pid46092.log

hs_err_pid50064.log

hs_err_pid6944.log

replay_pid12608.log

replay_pid24388.log

replay_pid46092.log

replay_pid6944.log
