gem_finder {
    # Vault Construction Finder (Objectives, Doors, Pylons, Etc)# Configuration file
    # 
    # FERRET BUSINESS 2 CUSTOM
    # Mineral Finder = Ore Finder, Metal Finder = Vault Chest Finder, Gem Finder = Vault Construction Finder
    # 
    # All relevant ores are moved from their respective individual CFGs to this one.
    S:targets <
        woldsvaults:fractured_obelisk:*, 0xff363636, fractured_obelisk
        woldsvaults:brewing_altar:*, 0xff00611d, brewing_altar
        the_vault:scavenger_altar:*, 0xff60e614, scav
        the_vault:rune_pillar:*, 0xff8f0a00, rune_pillar
        the_vault:royale_crate:*, 0xffeaeabe, royal_crate
        the_vault:treasure_door:*, 0xffefef6b, treasure
        the_vault:god_altar:*, 0xff6bd2ef, god_altar
        the_vault:treasure_pedestal:*, 0xffefef6b, treasure
        the_vault:grid_gateway:*, 0xfffbfbf9, grid_gateway
        the_vault:dungeon_door:*, 0xff949400, dungeon
        the_vault:vendor_door:*, 0xff949400, vendor
        the_vault:shop_pedestal:*, 0xffe2c197, shop
        woldsvaults:etching_shop_pedestal:*, 0xffe2c197, shop
        woldsvaults:etching_shop_pedestal:*, 0xffe2c197, shop
        woldsvaults:god_shop_pedestal:*, 0xffe2c197, shop
        woldsvaults:blacksmith_shop_pedestal:*, 0xffe2c197, shop
        woldsvaults:rare_shop_pedestal:*, 0xffe2c197, shop
        woldsvaults:omega_shop_pedestal:*, 0xffe2c197, shop
        woldsvaults:spooky_shop_pedestal:*, 0xffe2c197, shop
        woldsvaults:card_shop_pedestal:*, 0xffe2c197, shop
        the_vault:pylon:*, 0xffe2c197, pylon
     >
}


metal_finder {
    # Vault Chest Finder
    S:targets <
        the_vault:altar_chest:*, 0xff3b94b9, altar
        the_vault:treasure_chest:*, 0xfffeff57, treasure
        the_vault:enigma_chest:*, 0xff392446, enigma
        the_vault:coin_pile:*, 0xfffeff2b, coin
        the_vault:flesh_chest:*, 0xffa56888, flesh
        the_vault:gilded_chest:*, 0xffeaee2b, gilded
        the_vault:ornate_chest:*, 0xff8f1100, ornate
        the_vault:living_chest:*, 0xff60e614, living
        the_vault:gilded_strongbox:*, 0xffeaee2b, gilded
        the_vault:ornate_strongbox:*, 0xff8f1100, ornate
        the_vault:living_strongbox:*, 0xff60e614, living
        the_vault:gilded_barrel:*, 0xffeaee2b, gilded
        the_vault:ornate_barrel:*, 0xff8f1100, ornate
        the_vault:living_barrel:*, 0xff60e614, living
        the_vault:wooden_chest:*, 0xffc4925a, wooden
        the_vault:hardened_chest:*, 0xff6c6c6c, hardened
     >
}


mineral_finder {
    # All Ore Finder
    #
    # List of all blocks the finder should be looking for.
    # The format is <unitId>, <colorARGB> [, <groupName>]
    # 
    # Id is a basic unit (block or item) identifier in <modId:unitName:meta> format.
    # ModId can be omitted for vanilla items. Meta can be omitted too if it equals 0.
    # UnitName must be lowercase, words separated by '_', words order - from private to common (example: black_iron_ore).
    # Use '*' char or '[]' as meta value to specify all possible values (all block states).
    # To define multiple block states, you can use block properties. The format is <modId:blockName:[prop1=value1, prop2=value2]>
    # Also you may use tags. The format is <#modId:tagPath> (example: #forge:ores/copper).
    # 
    # Color in ARGB (Alpha, Red, Green, Blue) hex format (0xaarrggbb)
    # 
    # Group name is necessary for having one needle for each ore group(one needle for all copper ores, one for all gold ores, etc.)
    # If not set then unitName will be used.
    # 
    S:targets <
        the_vault:ore_echo:*, 0xff50028f, echo
        the_vault:ore_alexandrite:*, 0xff9c0f6c, alexandrite
        the_vault:ore_ashium:*, 0xff9b6907, phoenixium
        the_vault:ore_black_opal:*, 0xff303030, blackopal
        the_vault:ore_bomignite:*, 0xff255394, bomignite
        the_vault:ore_gorginite:*, 0xffda1da7, flamingoite
        the_vault:ore_iskallium:*, 0xffba14dc, woldium
        the_vault:ore_painite:*, 0xffcb2222, painite
        the_vault:ore_petzanite:*, 0xff49be90, parrotzanite
        the_vault:ore_sparkletine:*, 0xffe2d502, macawtine
        the_vault:ore_tubium:*, 0xff005a31, conurium
        the_vault:ore_upaline:*, 0xfff8ebf6, finchaline
        the_vault:ore_wutodie:*, 0xffe8258e, starlingie
        the_vault:ore_xenium:*, 0xff373083, martinium
        the_vault:ore_benitoite:*, 0xff0d2b80, benitoite
        the_vault:ore_larimar:*, 0xff56e6df, larimar
        #forge:ores/cruxite, 0xff8fd3fc, cruxite
        #forge:ores/azurite, 0xff5777f7, azurite
        #forge:ores/eudialyte, 0xffbb697d, eudialyte
        #forge:ores/manganese, 0xff908282, manganese
        #forge:ores/shaka, 0xff2791a6, shaka
        #forge:ores/zircon, 0xff552a24, zircon
        #forge:ores/aluminium, 0xff82604e, aluminum
        #forge:ores/aluminum, 0xff82604e, aluminum
        ancient_debris, 0xff7c5e57, ancient_debris
        quark:biotite_ore, 0xff040408, biotite
        #forge:ores/certus_quartz, 0xff95bded, quartz
        #forge:ores/cinnabar, 0xff921a27, cinnabar
        #forge:ores/coal, 0xff000000, coal
        #forge:ores/copper, 0xff527c67, copper
        #forge:ores/diamond, 0xff3de0e5, diamond
        #forge:ores/dimensional_shard, 0xff8dbcc4, dimensional
        #forge:ores/emerald, 0xff08aa2f, emerald
        #forge:ores/fluorite, 0xffdca2d9, fluorite
        #forge:ores/gold, 0xffffd700, gold
        #forge:ores/iron, 0xffdeb887, iron
        #forge:ores/lapis, 0xff0000ff, lapis
        #forge:ores/lead, 0xff3f384c, lead
        #forge:ores/nickel, 0xff999f99, nickel
        #forge:ores/niter, 0xff9d9292, niter
        #forge:ores/osmium, 0xffa9b7c9, osmium
        #forge:ores/quartz, 0xfff3f0e6, quartz
        #forge:ores/redstone, 0xffff0000, redstone
        #forge:ores/silver, 0xffc0c8cc, silver
        #forge:ores/sulfur, 0xffd4c360, sulfur
        #forge:ores/tin, 0xffdadada, tin
        #forge:ores/uraninite, 0xff42d700, uraninite
        #forge:ores/uranium, 0xff547048, uranium
        #forge:ores/zinc, 0xffbebed5, zinc
     >
}


